<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet"></div>

  <div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet" mdl-cell-4-col-phone>

    <% if @photo.errors.any? %>
      <div id="error_explanation">
        <h3>
          <%= pluralize(@photo.errors.count, "error") %> prohibited
          this photo from being saved:
        </h3>
        <ul>
          <% @photo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for @photo, multipart: true, local: true do |form| %>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_field :caption, class: "mdl-textfield__input" %><br>
        <%= form.label :caption, class: "mdl-textfield__label" %>
      </div><br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= form.text_area :story, rows: 10, cols: 80, class: "mdl-textfield__input", maxlength: 4096, spellcheck: true %>
        <%= form.label :story, class: "mdl-textfield__label" %>
      </div><br>
      <div>
        <%= form.label :image, "Choose image to upload (PNG, JPG)", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
        <%= form.file_field :image, accept: "image/jpg,image/png,image/gif", hidden: true %>
      </div>
      <div class="preview">
        <p>No photo currently selected for upload</p>
      </div>
      <div>
        <%= form.submit :submit, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
      </div>
    <% end %>
  </div>

  <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet"></div>

</div> <!-- grid -->